

{% extends 'dummy.html' %}
{% block title %}
    <h1><title>display_details</title></h1>
{% endblock %}


{% block body_block %}
<center>
   <table>
    <tr>
        <td><strong>Username</strong></td>
        <td>{{UO.username}}</td>
    </tr>
    <tr>
        <td><strong>Email</strong></td>
        <td>{{UO.email}}</td>
    </tr>
    <tr>
        <td><strong>Address</strong></td>
        <td>{{PO.address}}</td>
    </tr>
    <tr>
        <td><strong>Profile_pic</strong></td>
        <td>{{PO.profile_pic}}</td>
    </tr>
    <img src="{{ PO.profile_pic.url }}" alt="" height="300px" width="300px">
   </table>
</center>
{% endblock %}
