{% extends 'dummy.html' %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block body_block %}

<style>
    body{
    font-family: initial;
    background-color:rgb(82, 174, 36);
    background: radial-gradient(circle,rgb(188, 54, 9) 0%,rgb(86, 224, 59) 100%);
    font-size: 1.2em;
    color: rgb(235, 241, 246);
  }

</style>


<body>
<center>
    {% if username %}
        <h1>Welcome to Home Page MR/MS {{username}}</h1>
    {% else %}
        <h1>Welcome To  Home Page</h1>
    {% endif %}
    
    {% endblock %}
    
</center>
</body>