{% extends 'dummy.html' %}

{% block title %}
    <title>Registration Page</title>
{% endblock %}

{% block body_block %}

<style>
    body{
    font-family: initial;
    background-color:rgb(82, 174, 36);
    background: radial-gradient(circle,rgb(188, 54, 9) 0%,rgb(86, 224, 59) 100%);
    font-size: 1.2em;
    color: aliceblue;
  }

</style>
<body>
<center>
    <h1>Registration Form</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

                {{usfo.as_p}}
                {{pfo.as_p}}
            <input type="submit" value="registration">
        </form>
    </center>

    {% endblock %}
</body>