{% extends 'dummy.html' %}

{% block title %}
    <title>Registration Page</title>
{% endblock %}

{% block body_block %}

<style>
     body{
       background: rgb(49, 200, 223);
       background:radial-gradient(circle,rgb(194, 225, 35) 0%,rgb(220, 45, 205) 100%);
       font-size: 1.2em;
    }

</style>
<body>
<center>
    <h1>Registration Form</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

                {{usfo.as_p}}
                {{pfo.as_p}}
            <input type="submit" value="registration">
        </form>
    </center>

    {% endblock %}
</body>