<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    
    <style>
        body{
            font-family: sans-serif;
            background: rgb(196, 208, 60);
            background:radial-gradient(circle,rgb(224, 61, 213) 0%,rgb(215, 163, 36) 100%);
            font-size: 1.2em;
            color: aliceblue;
        }
        input[type="submit"]{
            border: none;
            font-size: 0.5cm;
        }
        h1{
            color: black;
        }
    </style>

    
</head>
<body>
    <center>
        <h1>Registration</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{usfo.as_p}}
            {{pfo.as_p}}

            
            <input type="submit" value="Registration">
        </form>
    </center>
</body>
</html>