{% extends 'dummy.html' %}

{% block title %}
    <title>Login Page</title>
{% endblock %}

{% block body_block %}

<style>
     body{
    font-family: initial;
    background-color:rgb(82, 174, 36);
    background: radial-gradient(circle,rgb(188, 54, 9) 0%,rgb(86, 224, 59) 100%);
    font-size: 1.2em;
    color: aliceblue;
  
  }
</style>
<body>
<center>
    <h1>Login Form</h1>
        <form method="POST">
            {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" name="username" id="username"><br>
                <br>
                <label for="password">Password</label>
                <input type="password" name="password" id="password"><br><br>
                
            <input type="submit" value="LogIn" class="btn btn-success">
<br>


        </form>
        <br>
       
        <a href="{% url 'reset_password' %}" class="btn btn-danger">reset_password</a>

    </center>

    {% endblock %}

    </body>